@font-face {
    font-family: aleo;
    src: url("../fonts/aleo/Aleo-Regular.otf");
}

#gameFrame{
    position: absolute;
    z-index: 1;
    top:0px;
    left:0px;
}

body{
    margin: 0;
    padding: 0;
}

#gameContainer {
  display: flex;
  position: absolute;
  background-image: url("../img/pink_rice.png");
  text-align: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.leaderboards {
    z-index: 300;
    width: 50vw;
    height: 100vh;
}

.leaderboards table {
    border: 0;
    border: solid 2px #6496c8;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border-color: #6496c8;
    outline: none;
    height: 5vh;
}

.leaderboards table tr td {
    border: 0;
    border: solid 2px #6496c8;
    border-color: #6496c8;
    border-style: none none solid;
}

.highscore {
    z-index: 300;
    width: 50vw;
    display:none;
}

.highscore h4 {
    text-align: center;
    font-family: aleo;
}

.highscore input {
    border: 0;
    border: solid 2px #6496c8;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    border-color: #6496c8;
    outline: none;
    height: 5vh;
}

.highscore input[type="text"] {
    font-size: 100%;
    font-family: aleo;
    margin: 1vw;
}

.highscore button {
    margin: 1vh;
    color: #6496c8;
    background: rgba(0,0,0,0);
    border: solid 5px #6496c8;
    border-radius: 50px;
    text-align: center;
    font-family: aleo;
    font-size: 100%;
    cursor: pointer;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}

#startbutton {
    color: #6496c8;
    background: rgba(0,0,0,0);
    border: solid 5px #6496c8;
    border-radius: 50px;
    text-align: center;
    padding: 1vh;
    font-family: aleo;
    font-size: 400%;
    cursor: pointer;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}

#timer {
    font-size: 300%;
    opacity: 0;
}

.buttonContainer {
    width: 100%;
    z-index: 2;
}

#startbutton:hover {
    color: white;
    background: #6496c8;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	10% { -webkit-transform: scale(1.02); }
	20% { -webkit-transform: scale(1.04); }
	30% { -webkit-transform: scale(1.06); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1.1); }
	60% { -webkit-transform: scale(1.08); }
	70% { -webkit-transform: scale(1.06); }
	80% { -webkit-transform: scale(1.04); }
	90% { -webkit-transform: scale(1.02); }
	100% { -webkit-transform: scale(1); }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 900ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


#gameName{
    position: absolute;
    font-size: 32px;
    left: 30%;
    right: 30%;
    top: 5%;
}

#synopsis{
    margin-bottom: -6%;
    margin-top: 11%;
}

#aboutUs{
    font-size: 10px;
    z-index: 5;
    margin-bottom: 2%;
}

#Q{
    font-size: 40px;
    color:black;
    z-index: 5;
    
}